@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FAFF00;
    height: 140px;
    border-bottom: 10px solid #FF0202;
    display: flex;
}

main{
    left: 100px;
    width: 1150px;
    position: absolute;
    margin: 0 auto;
}

.container{
    position: absolute;
    text-align: center;
}


body{
    background-image: url(./images/Fundo.png);
    text-align: center;
}

#batatas{
    float: left;
    width: 9%;
    padding: 10px;
    margin-right: 10px;
}

#escrita{
    float: left;
    width: 79%;
    padding: 25px 0px;
    font-family: alice;
}

#logo {
    float: right;
    width: 12%;
    padding: 10px;
}

.qualidade{
    font-size: 30px;
    font-family: alice;
    color: #0066FF; 
}

.vpp{
    font-size: 40px;
    font-family: alice;
    color: #0066FF;
}

.caixinha{
    text-align: left;
}

.aviso{
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    height: 30px;
    text-align: center;
    background-color: #FAFF00;
    border: 1px solid #F2CB3F;
    border-radius: 15px;
    font-size: 25px;
    font-family: alice;
    color: #0066FF;
}


.container .progress{
    margin: 0 auto;
    width: 1150px;
}

.progress{
    padding: 4px;
    background: #FAFF00;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px #FAFF00, 0 1px #F2CB3F;
    box-shadow: inset 0 1px 1px #FAFF00, 0 1px #F2CB3F;
}

.progress-bar{
    height: 20px;
    border-radius: 4px;
    background-color: -webkit-#F2CB3F;
    background-color: -moz-#F2CB3F;
    background-color: -o-#F2CB3F;
    background-color: #F2CB3F;

    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: widht, background-color;
    -moz-transition-property: widht, background-color;
    -o-transition-property: widht, background-color;
    transition-property: widht, background-color;

    -webkit-box-shadow: inset 0 1px 1px #FAFF00, 0 1px #F2CB3F;
    box-shadow: inset 0 1px 1px #FAFF00, 0 1px #F2CB3F;

}

#lavagem:checked ~ .progress > .progress-bar{
    width: 10%;
    background: #FF0202;
}
#descascar:checked ~ .progress > .progress-bar{
    width: 20%;
    background: #FF0202;
}
#cortar:checked ~ .progress > .progress-bar{
    width: 30%;
    background: #FF0202;
}
#fritar:checked ~ .progress > .progress-bar{
    width: 40%;
    background: #FF0202;
}
#temperar:checked ~ .progress > .progress-bar{
    width: 50%;
    background: #FF0202;
}
#pesar:checked ~ .progress > .progress-bar{
    width: 60%;
    background: #FF0202;
}
#temperatura:checked ~ .progress > .progress-bar{
    width: 70%;
    background: #FF0202;
}
#lacrar:checked ~ .progress > .progress-bar{
    width: 80%;
    background: #FF0202;
}
#outra-porque-sim:checked ~ .progress > .progress-bar{
    width: 90%;
    background: #FF0202;
}
#finalizar:checked ~ .progress > .progress-bar{
    width: 100%;
    background: #00FF00;
}

.radio{
    cursor: pointer;
    width: 70px;
    height: 60px;
    border: 1x solid #DBB83A;
    border-radius: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FF0000;
    border: 20px solid #FAFF00;
}

.radio:checked{
    border: 20px solid #FAFF00;
    background-color: #00FF00;
}

.radio:hover{
    background-color: #00FF00;
    border: 20px solid #F2CB3F;
}


.label{
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #FAFF00;
    border: 1px solid #F2CB3F;
    margin-top: 100px;
}

.things{
    padding: 5px 0px;
    font-size: 20px;
    font-family: alice;
    color: #0066FF;
} 

.thingss{
    padding: 10px 0px;
    font-size: 16px;
    font-family: alice;
    color: #0066FF;
}

select{
    width: 350px;
    height: 40px;
    background-color: #FAFF00;
    border: 1px solid #F2CB3F;
    padding: 0px 10px;
    font-size: 25px;
    font-family: alice;
    color: #0066FF;
    box-shadow: 2px 2px #F2CB3F;
    
}

.salete{
    position: absolute;
    margin-left: 1440px;
    margin-top: 30px;
}


.Perfeito{
    width: 220PX;
    height: 40PX;
    background-color: #FAFF00;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px #F2CB3F;
    padding: 2px 10px;
    color: #0066FF;
    font-size: 20px;
    font-family: alice;
    text-align: center;
    position: absolute;
    left: 1510px;
    bottom: 68%;
    
}

.Perfeito:hover{
    background-color: #dee203;
    box-shadow: 5px 5px #dbb83a;
    transform: scale(1.1);
    transition: all 0.5s;
}

<<<<<<< HEAD
.relatorio{
    width: 275px;
    background-color: #FAFF00;
    border-radius: 16px;
    box-shadow: 5px 5px #F2CB3F;
    position: absolute;
    margin-left: 1480px;
    margin-top: 200px;
}

.topicos{
    color: #0066FF;
    font-size: 25px;
    font-family: alice;
    text-align: left;
    padding: 0px 10px;
}

=======

.Rodape{
    width: 100%;
    position:absolute ;
    margin-left: 0px;
    margin-top: 28%;
}
>>>>>>> 754d585d9e56ed0ab6d7d1600436fda28c291329
